<!-- Héritage de template ? Block(s) ? -->
{% extends "LesDinosaures.html" %}
{% block main %}
<div class="grid">
    <article>
        <h2>Discover the {{dino['name']}}</h2>

        <div class="description">
            Lorem ispum
        </div>

        <div class="card">
            <img src="{{dino['avatar']}}" alt="{{dino['slug']}}" />
            <dl>
                <dt>Name</dt>
                <dd>{{dino['name']}}</dd>
                <dt>Name meaning</dt>
                <dd>{{dino['name_meaning']}}</dd>
                <dt>Diet</dt>
                <dd>{{dino['diet']}}</dd>
                <dt>Height</dt>
                <dd>{{dino['height']}} m.</dd>
                <dt>Length</dt>
                <dd>{{dino['lenght']}} m.</dd>
                <dt>Weight</dt>
                <dd>{{dino['weight']}} kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
        {% for content in content %}
            <a href="dinosaures/{{content['slug']}}">
                <figure>
                    <img src="{{content['avatar']}}" alt="" />
                    <figcaption>Discover the {{content['name']}}</figcaption>
                </figure>

                {% endfor %}

            </a>
    </aside>
</div>
{% endblock %}

