<!-- Héritage de template ? Block(s) ? -->
{% extends "base.html" %}
{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>

    <!-- iterate here ? -->
    {% for content in content %}
        <a href="dinosaurs/{{content['slug']}}">
            <figure>
                <img src="{{content['avatar']}}" alt="{{content['name']}}" />
                <figcaption>Discover the {{content['name']}}</figcaption>
            </figure>

            {% endfor %}
        </a>

</section>
{% endblock %}



